<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Layout/layout :: head">
</head>
<body>
	<header th:replace="Layout/layout :: header"> </header>
	<h1 th:text="${titulo}" style="width:500px; margin: auto"></h1>
					<div class="table table-responsive-sm table-bordered table-striped table-hover mx-md-0 mx-2">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Id Maestro</th>
									<th>Nombre Maestro</th>
									<th>Id Asignacion</th>
									<th>Nombre Curso</th>
									<th>Horario Curso</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="asignacion : ${asignMa}">
									<td th:text="${asignacion.Maestro.idMa}"></td>
									<td th:text="${asignacion.Maestro.nombreMa1}"></td>
									<td th:text="${asignacion.idAsignacion}"></td>
									<td th:text="${asignacion.Curso.nombreCurso}"></td>
									<td th:text="${asignacion.Curso.horarioCurso}"></td>
									<td><a th:href="@{/AsigMaD/} + ${asignacion.idAsignacion}"><input value="Eliminar Asignacion" class="btn btn-danger btn-xs" onclick="return confirm('Seguro que desea eliminar?');" /></a></td>
								</tr>
							</tbody>
						</table>
						<a><input value="Crear Nueva Asignacion" class="btn btn-success mx-sm-3 mb-2"/></a>
					</div>
	
	<footer th:replace="Layout/layout :: footer"></footer>
</body>
</html>